.container {
    width: 50%;
    margin: 1rem auto;
}

.title-text {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.text-box {
    border: 2px solid black;
}

.text-area {
    text-align: center;
}