@using ViewModelFun.Models
@model Numbers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/style.css"/>
    <title>Numbers</title>
</head>
<body>
    <div class="numbers-container container">
        <h4 class="numbers-title title-text">Here are some numbers!</h4>
        <div class="numbers-text text-box">
            @{
                for(int i = 0; i < @Model.NumArray.Length; i++)
                {
                    <p>@Model.NumArray[i]</p>
                }
            }
        </div>
    </div>
</body>
</html>